#projects{
  margin: 50px;
}
.cards{
  display: flex;
  justify-content: space-between;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 60vh;
  margin: 30px;
}
.cards img{
  width: 30vw;
  margin: 30px;
}

.content h3{
  font-size: 0.8rem;
  opacity: 0.6;
} 
.content h1 {
  margin: 10px 0 10px 0;
  font-size: 1.8rem;
} 
.content p {
  margin: 10px 0 10px 0;
  text-align: justify;
  opacity: 0.8;
} 
.content h2 {
  font-size: 1.3rem;
  opacity: 0.75;
} 

.features {
  width: 100%;
  padding: 10px 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill ,minmax(200px, 1fr));
}
.features span{
  background-color: var(--tone2);
  padding: 10px;
  font-weight: 500;
}
.content a {
  margin-top: 40px !important;
  text-decoration: none;
  color: var(--tone3);
  font-weight: 700;
  font-size: 1.1rem;
  transition: 100ms ease;
} 
.content a:hover {
  color: var(--tone4);
  transition: 100ms ease;
} 