#particles-js {
  height: 100vh;
}
#home .info_co {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  font-weight: 200 !important;
  z-index: -1;
}
/* main page text animation and styles */
.observer {
  width: 0;
  height: 0;
  position: absolute;
  top: 10%;
  left: 50%;
}
.info_co .l1 {
  font-size: 3.5vw;
}
.info_co .l2 {
  font-size: 5vw;
  font-style: italic;
}
.info_co .l3 {
  font-size: 5.5vw;
  width: 80vw;
  word-spacing: 20px;
  text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.252);
}
.info_co .l4 {
  font-size: 9vw;
  text-align: justify;
  font-weight: 300;
  width: 100%;
}
.info_co .l5 {
  word-spacing: 20px;
  font-size: 5vw;
  text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.252);
  text-align: justify;
}
.info_co h1 {
  font-weight: 400;
  margin: 5px;
}
.l1.invisible,.l3.invisible , .l5.invisible {
  animation: animate_l 2000ms ease;
  transform: translateX(3000px);
  pointer-events: none;
}
.l2.invisible,.l4.invisible {
  animation: animate_r 2000ms ease;
  transform: translateX(-3000px);
  pointer-events: none;
}
.l1.visible,.l2.visible,.l3.visible,.l4.visible,.l5.visible{
  animation: animate_blur 700ms ease;
}
@keyframes animate_r {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translateX(-3000px);
  }
}
@keyframes animate_l {
  0% {
    transform: translateX(0);
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translateX(3000px);
  }
}
@keyframes animate_blur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* theme button working */
#theme-btn {
  position: fixed;
  border: 4px solid var(--text-primary);
  text-shadow: 10px black;
  top: 90%;
  left: 90%;
  z-index: 99;
  border: none;
  background: transparent;
  color: var(--text-primary);
  fill: currentColor;
}
#theme-btn:hover svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  transition: 200ms;
}


.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}