#particles-js {
  height: 100vh;
}
#home .info_co {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 1.2rem;
  font-weight: 500;
}
#home .info_co h1,
#home .info_co h2 {
  margin: 5px;
}
.info_co .name {
  font-family: var(--accent-font);
  font-size: 5rem;
  color: var(--tone4);
  margin: 5px;
}
.info_co .name{
  font-size: 5rem;
}
.info_co h2{
  font-size: 1.5rem;
}
@media only screen and (max-width: 400px) {
  #home .info_co {
    position: absolute;
    top: 40%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;

    font-weight: 500;
  }
  .info_co .name{
    font-size: 4.2rem;
  }
  .info_co h2{
    font-size: 1.2rem;
  }
}
#theme-btn {
  position: fixed;
  border: 4px solid var(--text-primary);
  text-shadow: 10px black;
  top: 90%;
  left: 90%;
  z-index: 99;
  border: none;
  background: transparent;
  color: var(--text-primary);
  fill: currentColor;
}
